<!doctype html>
<title>Natural Language Processing Demo</title>

<h1>Natural Language Processing Demo</h1>

<p>Hi!  I'm running on a Kubernetes cluster somewhere.  When I started, I deployed
a trained model from HuggingFace called <a
href="https://huggingface.co/distilbert/distilbert-base-uncased-distilled-squad">
distilbert/distilbert-base-uncased-distilled-squad</a> to AWS SageMaker.</p>

<p>Enter a question with its context.  We'll use that HuggingFace model to generate an
answer.</p>

<form action="/answer" method="post">
    <label for="question">Question</label><br>
    <input type="text" id="question" name="question"><br><br>
    <label for="context">Context</label><br>
    <textarea id="context" name="context" rows="4" cols="50">My Name is Philipp and I live in Nuremberg. This model is used with sagemaker for inference. I play chess in my spare time.</textarea>
    <br><br>
    <input type="submit" value="Get Answer">
</form>

